
- allow verification of data in ZDB (using e.g. crc or hash) without transfering data
- can we verify a zstor encoded file against ZDB's at backend without transmitting all the data
- describe how it would work for soft/strict verification (data transfer or not)


